.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



/* nav style */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 400px;
    margin: 38px 0px;
}

.nav-title {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

.nav-btn {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px;
}

/* banner style */

.hero {
    width: 100%;
    height: 652px;
    background-image: url("assets/Hero-bg.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    width: 998px;
    height: 582px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero-img {
    margin: 0px;
}

.hero-heading {
    color: rgb(13, 19, 33);
    font-size: 38px;
    font-weight: 800;
    text-align: center;
}

.hero-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.hero-btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
    margin-top: 30px;
}

/* main section style */

.development-section {
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.development-section-content {
    width: 946px;
    height: 1235px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.development-top {
    width: 852px;
    height: 115px;
    text-align: center;
    margin-bottom: 60px;
}

.development-heading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.development-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.card-container {
    width: 946px;
    height: 336px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.devlopment-card-1,
.devlopment-card-2,
.devlopment-card-3 {
    width: 850px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-content {
    width: 477px;
    height: 220px;
}

.card-img-container {
    width: 259.56px;
    height: 217.01px;
}

.devlopment-card-heading {
    color: rgba(13, 19, 33, 0.7);
    font-size: 22px;
    font-weight: 700;
}

.devlopment-card-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.devlopment-card-btn {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
    padding: 12px 20px;
}

/* inspiration-section */

.inspiration-section {
    width: 1140px;
    height: 777px;
    margin: auto;
    margin-top: 88px;
    margin-bottom: 150px;
}

.inspiration-content {
    width: 852px;
    height: 115px;
    margin: auto;
    text-align: center;
}

.inspiration-video {
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    border-radius: 16px;
}

.inspiration-heading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.inspiration-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.inspiration-iframe {
    border-radius: 16px;
}

/* target-section style */

.target-section {
    width: 1140px;
    height: 460px;
    margin-top: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.target-heading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.target-content {
    width: 852px;
    height: 113px;
    text-align: center;
}

.target-card-container {
    width: 1140px;
    height: 299px;
    display: flex;
    justify-content: space-between;

}

.card-1-container,
.card-2-container,
.card-3-container {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.card-1,
.card-2,
.card-3 {
    width: 284px;
    height: 219px;

}

.card-1-container {
    background-color: rgba(255, 76, 30, 0.05);
}

.card-2-container {
    background-color: rgba(0, 76, 232, 0.05);
}

.card-3-container {
    background-color: rgba(255, 223, 0, 0.05);
}

.card-item-name {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}

.card-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.card-link {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

/* next target section style */

.next-target-section {
    width: 1140px;
    height: 868px;
    margin: auto;
    margin-top: 111px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.next-target-heading {
    width: 852px;
    height: 115px;
    text-align: center;
}

.next-target-name {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin: 0px 0px 24px 0px;
}

.next-target-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.next-target-card-container {
    width: 1140px;
    height: 219px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.next-target-card {
    width: 1060px;
    height: 139px;
    display: flex;
    align-items: center;
}

.next-target-card-content {
    margin-left: 30px;
}

.next-target-card-heading {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;

}

.next-target-card-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.next-target-card-link {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

/* form section style */

.form-section {
    width: 1140px;
    height: 314px;
    border-radius: 16px;
    margin: auto;
    margin-top: 44px;
    background-image: url("assets/handshake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 1044px;
    height: 186px;
}

.form-content {
    width: 730px;
    height: 104px;
    margin: auto;
    text-align: center;
}

.form-input-container {
    width: 730px;
    margin: auto;
    margin-top: 10px;

}

.form-heading {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin: 0px;
}

.form-description {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.form-input {
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background-color: (255, 255, 255);
    padding: 18px;
    border: none;
    width: 570px;
}

.form-btn {
    border-radius: 8px;
    border: none;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px;
    background-color: (255, 255, 255)
}

/* footer section style */

.footer {
    height: 100px;
    width: 100%;
    margin-top: 79px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    width: 1140px;
    height: 36px;
    display: flex;
    align-items: center;
}

.footer-heading {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.footer-icon img{
    margin-right: 20px;
}